.paragraph_style {
    color: #3f3f3f;
    font-family: 'GillSans-Light', 'Gill Sans', 'Gill Sans Light', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style {
    font-family: 'GillSans-BoldItalic', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
}
.paragraph_style_1 {
    color: #404040;
    font-family: 'GillSans-Light', 'Gill Sans', 'Gill Sans Light', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_1 {
    color: #3f3f3f;
    font-family: 'GillSans-BoldItalic', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    opacity: 1.00;
}
.style_2 {
    color: #3f3f3f;
    opacity: 1.00;
}
.style_3 {
    color: #4c4c4c;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_4 {
    color: #3f3f3f;
    font-family: 'GillSans-Light', 'Gill Sans', 'Gill Sans Light', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    line-height: 15px;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.paragraph_style_2 {
    color: #3f3f3f;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_5 {
    font-family: 'GillSans-BoldItalic', 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    line-height: 15px;
}
.style_6 {
    font-family: 'GillSans-Light', 'Gill Sans', 'Gill Sans Light', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    line-height: 15px;
}
.paragraph_style_3 {
    color: #3f3f3f;
    font-family: 'GillSans-Light', 'Gill Sans', 'Gill Sans Light', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 36px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_7 {
    font-family: 'Optima-Regular', 'Optima', 'Trebuchet MS', sans-serif;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.Free_Form {
    color: #404040;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 0px;
}
.Normal_External_643_46 {
    position: relative;
}
.Normal_External_643_53 {
    position: relative;
}
.Normal_External_643_38 {
    position: relative;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_393_49 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_392_64 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_393_69 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_392_60 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_393_39 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a:hover {
    color: #d67053;
    text-decoration: underline;
}
#widget0 a:visited {
    color: #333333;
    text-decoration: none;
}
#widget0 a {
    color: #a64b3c;
    text-decoration: none;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
